body {
    font-family: 'Times New Roman', Times, serif
}
h1,
h3 {
    text-align: center;
}
div {
    text-align: center;
}
img {
    height:  300px;
    width: auto;
}
ol,
ul {
    font-size: larger;
}
h4 {
    font-size: 20px;
}